/* Specific styles for the Services page */
.services {
  height: calc(100vh - 70px); /* Takes full height minus navbar height */
  width: calc(100vw - 270px);
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: auto; /* Ensure scrolling if content exceeds the height */
}

.services h2 {
  color: #333;
}
