.drone-box {
    display: flex;
    flex-direction: column;
    width: 80%; /* Changed from 300px to 80% */
    max-width: 600px; /* Optional: Limit max width if needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
    background: #fff;
}


  .drone-box.expanded {
    height: auto;
  }
  
  .drone-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  
  .dropdown-icon {
    cursor: pointer;
  }
  
  .options-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
  }
  
  
  .add-btn-drone {
    background-color: #004B71;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
  }
  
  .plus-icon {
    font-size: 14px;
  }
  