/* Background gradient for the page */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to left, #004B71, #0085c7);
  /* Gradient */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container with two parts - Left and Right */
.login-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f000;
  /* Light grey background */
}

.drone-img {
  height: 50%;
  object-fit: contain;
  /* Ensures the image aspect ratio is maintained */
}

/* Right side for the login form */
.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}

.login-box {
  width: 450px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 8px;
}

.logo-container {
  flex-direction: column;
  margin-bottom: 20px;
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.system-name {
  font-size: 18px;
  margin-top: 10px;
  color: #004B71;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.phone-number-input {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #004B71;
}

.phone-number-input label {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  color: #004B71;
}

.phone-number-input label {}

.input-container {
  display: flex;
  align-items: center;
}

.country-code {
  margin-right: 10px;
  font-size: 18px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input:focus {
  border-color: #004B71;
  /* Highlight border on focus */
}

.submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: white;
  background-color: #004B71;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.project-name{
  color: #004B71;
}

.submit-btn:hover {
  background-color: #64d8f5;
}

.submit-btn:active {
  background-color: #003c56;
}
.countdown {
  margin-top: 10px;
  color: #f00;  /* Red color for countdown */
}

.resend-btn {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.resend-btn:hover {
  background-color: #0056b3;
}
.otp-boxes {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.otp-input {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

.otp-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}